<div class="container mt-5">
    <div class="top-form">
        <h1>{{descTitle}}</h1>
        <a class="btn btn-info " [routerLink]="['/']" >Voltar</a>
    </div>
    <form [formGroup]="taskForm" (ngSubmit)="submit()" #formDir="ngForm">
        <div class="mt-3">
            <label class="form-label">Titulo</label>
            <input type="text" placeholder="Insira o titulo da task!" class="form-control" formControlName="title"/>
        </div>

        <div class="mt-3">
            <label class="form-label">Descrição</label>
            <input type="text" placeholder="Insira o descrição da task!" class="form-control" formControlName="description"/>
        </div>

        <div class="mt-3">
            <label class="form-label">Prazo</label>
            <input type="text" placeholder="Exemplo: 2025-05-01" class="form-control" formControlName="dueDate"/>
        </div>

        <div class="mt-3">
            <label class="form-label">Situação</label>
            <select class="form-select" formControlName="isCompleted">
                <option value="Pendente" selected>Pendente</option>
                <option value="Concluida">Concluída</option>
            </select>
        </div>

        <div class="mt-3">
            <label class="form-label">Prioridade</label>
            <select class="form-select" formControlName="priority">
                <option value="0" selected>Basico</option>
                <option value="1">Normal</option>
                <option value="2">Alto</option>
            </select>
        </div>

        <div class="d-flex mt-3">
            <button class="btn btn-success w-25 mx-1" type="submit">{{btnAction}}</button>
            
        </div>
    </form>
</div>
