<div class="tes">
    <div class="input-container">
        <input type="text" id="input" required="" (input)="search($event)">
        <label for="input" class="label">Buscar tarefa</label>
        <div class="underline"></div>                
    </div>  
</div>

<div class="container mt-5">    
    <!--- <input class="form-control input" type="text" placeholder="Qual task deseja buscar?" (input)="search($event)"/> -->
    <button class="btn btn-success mt-5" [routerLink]="['/register']" routerLinkActive="router-link-active" > Cadastrar uma nova Task</button>

    <table class="table table-borderless table-hover mt-5">
        <thead class="">
            <tr>
                
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Prazo</th>
                <th>Situação</th>
                <th>Prioridade</th>
                <th></th>
            </tr>
        </thead>   

        <tbody>
            @if (task.length > 0) {
                @for (tasks of task; track $index) {
                    <tr>
                        
                        <td style="width: 190px;">{{tasks.title}}</td>
                        <td>{{tasks.description}}</td>
                        <td>{{tasks.dueDate}}</td>
                        <td>{{tasks.isCompleted}}</td>
                        <td>{{tasks.priority}}</td>
                        <td>
                            <button class="btn btn-warning mx-2" [routerLink]="['/edit', tasks.id]">Editar</button>
                            <button class="btn btn-danger mx-2" (click)="delet(tasks.id)">Excluir</button>                        
                        </td>
                    </tr>
                }
            }
            @else {
                <tr class="text-center">
                    <td colspan="6">Nenhuma tarefa cadastrada</td>
                </tr>
            }

        </tbody>   
    </table>
</div>
